/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;800&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}
/*Retirar depois*/
img{
  max-width: 100%;
  max-height: 100%;
}

/* Content */

body{
  width: 1000px;
  margin: 0 auto;
}

main{
  display: grid;
  gap: 40px;
}

/* Header */

.content-header{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;

}
.img-header{
 background: transparent; 
}

.header-list{
  align-self: center;
 
}

.header-list li{
  display: inline-block;
  align-self:end;
  margin: 10px 20px;
  text-transform:capitalize;
}


/* Content 1 */

.content-01{
  max-height: 500px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-basis: 500px;
  flex-wrap: nowrap;
}

.text-content-01{
  align-self: center;
  justify-content: start;
  flex-basis: 300px; 
}

.text-content-01 h1{
  font-size: 3rem;
  word-wrap: break-word;
  line-break: auto;
  position: relative; 
  margin: 10px 0; 
  line-height: 3rem;
}

.text-content-01 h1::before{
  position: absolute;
  content: url(./05-projeto-pessoal/0513-exportar-projeto-pessoal/projeto-pessoal-arquivos/img/favicon.svg);
  top: -10px;
  left: -5px;
  z-index: -1;

}

.text-content-01 p{
  color: rgba(0,0,0,.4);
  font-size: 1.2rem;
}

/* Content 2 */

/* Content 3 */

/* Footer Content */

/* Footer */